*{
    margin: 0 auto;

}

html{
    color: white;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #0000ff, rgb(69, 252, 246), #02ff39 );
    
}

.principal{
    box-shadow: 5px 5px 10px rgb(29, 29, 29);
    background: transparent;
    height: 300px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.principal div{
    height: 200px;
    width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: 8px 8px 8px rgb(51, 50, 50);
    border-radius: 8px;
    letter-spacing: 3px;
   
    display: flex;
}

.principal span{
    font-size: 80px;
    font-weight: bold;
}
.principal span.texto{
    display: flex;
    font-size: 20px;
    font-family: "Fira Sans Condensed",;
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    
}





    
